$car-size: 10px;
$car-color: #39d855;
$workplace-color: #e8e8e8;

.car {
  width: $car-size;
  height: $car-size;
  background-color: $car-color;
}

.workplace {
  width: $car-size * 3;
  height: $car-size * 3;
  background-color: $workplace-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2b2b2;
  float: left;
  margin-bottom: 20px;
  &:nth-child(2n) {
    background-color: #f7f7f7;
  }

  &.error-state {
    background-color: rgba(255, 0, 0, 0.62);
  }

  &.good-state {
    background-color: rgba(0, 128, 0, 0.58);
  }
}

.assembly-line {
  margin-top: 15px;
  margin-bottom: 15px;

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}

.sector-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);

  > div {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 510px;
    background-color: #fff;
  }
}