$car-size: 30px;
$car-color: #39d855;
$workplace-color: #e8e8e8;

.car {
  width: $car-size;
  height: $car-size;
  background-color: $car-color;
}

.workplace {
  width: $car-size * 3;
  height: $car-size * 3;
  background-color: $workplace-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2b2b2;
  float: left;
}

.assembly-line {
  margin-top: 15px;
  margin-bottom: 15px;

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}