<div class="text-center">
    <button ng-click="$ctrl.back()" class="btn btn-default">Back</button>
    <button ng-if="!$ctrl.isPlaying" ng-click="$ctrl.togglePlay()" class="btn btn-default">Play</button>
    <button ng-if="$ctrl.isPlaying" ng-click="$ctrl.togglePlay()" class="btn btn-default">Stop</button>
    <button ng-click="$ctrl.forward()" class="btn btn-default">Forward</button>
</div>

<h3 class="ba-title">BA3</h3>
<div ng-repeat="workplaces in $ctrl.workplaces" class="assembly-line inactive">
    <div ng-repeat="workplace in workplaces" class="workplace"></div>
</div>

<h3 class="ba-title">BA2 <a ng-click="$ctrl.showBADetails()">See details</a></h3>
<div ng-repeat="workplaces in $ctrl.workplaces" class="assembly-line">
    <div ng-repeat="(i, workplace) in workplaces" ng-click="$ctrl.showDetails(i)" class="workplace" ng-class="{ 'error-state': workplace.times.length && $ctrl.getCapacity(i) > $ctrl.avg, 'good-state': workplace.times.length && $ctrl.getCapacity(i) <= $ctrl.avg }">
        <div ng-if="workplace.id <= $ctrl.actual" class="car">
            <img src="/assets/images/car.png" alt="">
        </div>
    </div>
</div>


<h3 class="ba-title">BA1</h3>
<div ng-repeat="workplaces in $ctrl.workplaces" class="assembly-line inactive">
    <div ng-repeat="workplace in workplaces"  class="workplace">
    </div>
</div>

<div ng-if="$ctrl.isDetailsShown" ng-click="$ctrl.toggleDetail()" class="sector-details">
    <div>
        <h1>Details</h1>
        <p></p>

        <h4>Akkumulierte Auslastung</h4>
        <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
                chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options"
                chart-dataset-override="$ctrl.datasetOverride" chart-click="$ctrl.onClick"
        ></canvas>

        <h2>Next 5 Cars</h2>
        <canvas id="bar"
                class="chart chart-bar"
                chart-data="$ctrl.nextData"
                chart-labels="$ctrl.nextLabels"
                chart-series="$ctrl.nextSeries"
        ></canvas>

        <h2>Car info</h2>

        <h5>Car model</h5>
        <p>{{ $ctrl.carObject.FZGKL }}</p>

        <h5>Car features</h5>
        <ul class="list-group">
            <li ng-repeat="feature in $ctrl.carObject.PR_Nummer.split('#') track by $index" class="list-group-item">
                {{ feature }}
            </li>
        </ul>
    </div>
</div>

<div ng-if="$ctrl.isBADetailsShown" ng-click="$ctrl.toggleBADetail()" class="overall-details">
    <div>
        <h2>Overall BA2 overview</h2>

        <canvas id="lines" class="chart chart-line" chart-data="$ctrl.dataOverall"
                chart-labels="$ctrl.labelsOverall" chart-series="$ctrl.seriesOverall" chart-options="$ctrl.optionsOverall"
        ></canvas>
    </div>
</div>